<%- include("partials/header") %> 

<div class="mb-5">
    <h1>Home</h1>
    <p><%= startingContent %></p>
</div>
<% newPost.forEach(function(post) { %>
    <div class="mt-4">
        <h5><%= post.title %></h6>
    </div>
    <div class="">
        <p class=""><%= post.content.substring(0, 100) + " ... " %><a class="text-decoration-none" href="/post/<%= post._id %>">Read More</a></p>
    </div>
    <hr>
<% }) %>

<%- include("partials/footer") %> 